*{
    margin: 0;
    padding: 0;
    font-family: century;
}

body{
    background: black;
}

header{
   /* background-image:  */
   /* linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  */
   /* linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
   url(./Pictures/c16ab3b0-d969-459d-8a0c-fc80c2369db3.jpg); */
   height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.main ul{
    position: fixed;
    top: 6px;
    right: 10px;
    border-radius: 100px;
    width: 700px;
    list-style: none;
    min-height: 40px;
    background-color: rgba(255, 0, 0, 0.575);
    font-size: 17px;
/* background-color: rgba(0, 0, 0, 0.308); */
padding-top: 17px;
z-index: 10;
}

.list{
    padding-left: 20px;
}

ul li{
    display: inline-block;
    /* margin: 0 5px; */
    font-weight: bolder;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    /* background-color: white;
    color: rgb(255, 192, 19); */
   background-color: black;
   color: yellow;
border-radius: 100px;
}

ul li.active a{
    /* background-color: white;
    color:  rgb(255, 192, 19); */
   background-color: black;
    border-radius: 100px;
}
ul li.active a:hover{
    /* background-color: white;
    color:  rgb(255, 192, 19); */
    color: yellow;
    border-radius: 100px;
}

.logo img{
    position: fixed;
    border-radius: 100px;
    float: left;
    width: 90px;
   margin:-50px 0 0 -60px;
    height: auto;
    border: 5px solid rgba(255, 0, 0, 0.575);
    animation: spin 5s infinite linear;
}
/* TO MAKE THE LOGO SPIN  */
@keyframes spin {
    0% {
        transform: rotateX(0deg);
    }
    20% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.main{
    /* background-color: white; */
    max-width: 1200px;
    margin: auto;
   
}

.body{
    color: white;
margin-top: 70px;
margin-right: 20px;
margin-left: 20px;
}

.body .body-pic img{
    width: 500px;
    height: 400px;
    float: left;
    border-radius: 100px;
    padding-right: 20px;
}

.content{
    margin-top: 10px;
}

.heading{
    margin-top: 20px;
}

.motto{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

#nav-menu-about {
    transition: all 0.3s ease;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main ul {
        width: 600px;
        font-size: 16px;
    }

    ul li a {
        padding: 5px 15px;
    }

    .logo img {
        width: 80px;
        margin: -50px 0 0 -50px;
    }

    .body {
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .body-pic img {
        width: 400px;
        height: 300px;
    }

    .heading h1 {
        font-size: 35px;
    }

    .heading h2 {
        font-size: 24px;
    }

    .content {
        font-size: 16px;
    }

    .motto {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    #nav-menu-about {
        display: none;
        position: fixed;
        top: 50px;
        right: 0;
        width: 200px;
        background-color: rgba(255, 0, 0, 0.9);
        flex-direction: column;
        padding: 10px;
        border-radius: 0 0 0 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #nav-menu-about.show {
        display: flex;
    }

    .list {
        padding-left: 0;
    }

    ul li {
        display: block;
        margin: 5px 0;
    }

    ul li a {
        padding: 8px 15px;
        display: block;
        color: white;
    }

    .logo img {
        position: static;
        float: none;
        width: 80px;
        margin: 10px auto;
        display: block;
    }

    .body {
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .body-pic img {
        width: 100%;
        height: auto;
        float: none;
        display: block;
        margin: 0 auto 20px;
    }

    .heading {
        margin-top: 15px;
    }

    .heading h1 {
        font-size: 28px;
        text-align: center;
    }

    .heading h2 {
        font-size: 20px;
    }

    .content {
        font-size: 15px;
        line-height: 1.4;
    }

    .motto {
        font-size: 22px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .hamburger {
        font-size: 25px;
        top: 8px;
        right: 8px;
    }

    #nav-menu-about {
        top: 40px;
        width: 180px;
    }

    .body {
        margin-top: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .heading h2 {
        font-size: 18px;
    }

    .content {
        font-size: 14px;
    }

    .motto {
        font-size: 18px;
    }
}
